@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-sans: var(--font-poppins-sans), system-ui, sans-serif;
  --font-quicksand: var(--font-quicksand-sans), system-ui, sans-serif;
  --font-questrial: var(--font-questrial-sans), system-ui, sans-serif;
  --font-gendy: var(--font-gendy), system-ui, sans-serif;
  --breakpoint-*: initial;
  --breakpoint-tablet5: 267px;
  --breakpoint-tablet4: 367px;
  --breakpoint-tablet3: 467px;
  --breakpoint-tablet2: 567px;
  --breakpoint-tablet: 767px;
  --breakpoint-laptop: 1024px;
  --breakpoint-desktop: 1300px;
  --breakpoint-desktop2: 1441px;
}

@plugin "daisyui" {
  themes: dark --default, dark --prefersdark;
  logs: false;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  prefersdark: true;
  color-scheme: dark;
  --color-base-100: oklch(25.33% 0.016 252.42);
  --color-base-200: oklch(23.26% 0.014 253.1);
  --color-base-300: oklch(21.15% 0.012 254.09);
  --color-base-content: oklch(97.807% 0.029 256.847);
  --color-primary: rgba(0, 0, 0, 1);
  --color-primary-content: rgba(255, 255, 255, 1);
  --color-secondary: oklch(65% 0.241 354.308);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: #121212;
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: none;
  --color-warning-content: #000000;
  --color-error: #ffffff;
  --color-error-content: rgba(190, 201, 195, 1);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

/* light theme */
@plugin "daisyui/theme" {
  name: "light";
  default: false;
  prefersdark: false;
  color-scheme: light;
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(95% 0 0);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: rgba(255, 255, 255, 1);
  --color-primary-content: rgba(0, 0, 0, 1);
  --color-secondary: oklch(65% 0.241 354.308);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: #343a40;
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: 0px 4px 11.3px 0px rgba(0, 0, 0, 0.25);
  --color-warning-content: #ffffff;
  --color-error: #000000;
  --color-error-content: transparent;
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
  /* Custom Shadows for Dark Theme */
  --shadow-lg: 0px 4px 11.3px 0px rgba(0, 0, 0, 0.25);
  --transparent: rgba(0, 0, 0, 0.5);
}

.video-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.contact-form::after {
  content: "";
  filter: blur(95px);
  background: linear-gradient(#7ae8ff 0%, #43808c 18.39%, #000 84.29%);
  border-radius: 100%;
  width: 400px;
  height: 500px;
  position: absolute;
  top: 67%;
  left: 50%;
  transform: translate(-50%, -50%) rotate3d(0, 0, 1, 1deg);
  z-index: -1 !important;
  rotate: 0deg;
}

@media (max-width: 1024px) {
  .contact-form::after {
    width: 300px;
    height: 300px;
  }
}

.best-otr .swiper-slide-prev {
  transform: translate3d(0px, 0px, -105.814px) rotateX(0deg) rotateY(0deg)
    scale(1) !important;
  z-index: 3 !important;
  left: 84px !important;
}

.best-otr .swiper-slide-next {
  transform: translate3d(0px, 0px, -100px) rotateX(0deg) rotateY(0deg) scale(1) !important;
  right: 73px !important;
}

.best-otr .swiper-slide-active {
  z-index: 5 !important;
  transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) scale(1) !important;
}
.best-otr .swiper-slide-active .active-style {
  display: block;
}

/* .best-otr::after {
  content: "";
  background: linear-gradient(to top, #7ae8ff 0%, #108888 51%, #000000 100%);
  width: 468px;
  height: 500px;
  border-top-left-radius: 507px;
  border-top-right-radius: 507px;
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1 !important;
  rotate: 0deg;
} */

.swiper-3d .swiper-slide-shadow-left,
.swiper-slide-shadow-right,
.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none !important;
}

.best-row-main {
  /* background-image: url("../public/images/bg-best.svg"); */
}
.bg-boxes-img {
  top: 0;
  left: 50.5%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
}

.swiper-slide-active .cardIcon {
  display: flex;
}

.swiper-slide-prev .cardIcon,
.swiper-slide-next .cardIcon {
  display: none;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
}

.swiper-button-prev {
  width: 34px !important;
  height: 34px !important;
  left: 47% !important;
  top: initial !important;
  bottom: 15px !important;
  /* transform: translateX(50%) !important; */
}

.swiper-button-next {
  right: 46% !important;
  /* transform: translateX(50%) !important; */
  top: initial !important;
  bottom: 15px !important;
  width: 34px !important;
  height: 34px !important;
  rotate: 180deg;
}

.swiper-button-prev:after {
  content: "" !important;
  width: 34px !important;
  height: 34px !important;
  background-image: url("../public//images/swiper-icon.svg") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  border: 1px solid rgba(255, 255, 255, 0.53);
}

.swiper-button-next:after {
  content: "" !important;
  width: 34px !important;
  height: 34px !important;
  background-image: url("../public//images/swiper-icon.svg") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  border: 1px solid rgba(255, 255, 255, 0.53);
}

@media (max-width: 1024px) {
  .swiper-button-next {
    bottom: 0px !important;
    right: 44% !important;
  }
  .swiper-button-prev {
    bottom: 0px !important;
  }
}

@media (max-width: 900px) {
  .swiper-button-next {
    bottom: 0px !important;
    right: 43% !important;
  }
  .swiper-button-prev {
    left: 43% !important;
    bottom: 0px !important;
  }
}

@media (max-width: 800px) {
  .swiper-button-next {
    bottom: 0px !important;
    right: 41% !important;
  }
  .swiper-button-prev {
    bottom: 0px !important;
    left: 41% !important;
  }
}
@media (max-width: 800px) {
  .swiper-button-next {
    bottom: 0px !important;
    right: 39% !important;
  }
  .swiper-button-prev {
    bottom: 0px !important;
    left: 39% !important;
  }
}

.best-card-inr {
}

.best-otr .swiper-slide-active .best-card-inr {
}

/* .best-card-otr::after {
  content: "";
  filter: blur(5px);
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.16);
  border-radius: 24px;
  position: absolute;
  top: 0;
  left: 0;
}

.inner-content {
  position: relative;
  z-index: 2;
} */

.swiper-button-next,
.swiper-button-prev {
  outline: none !important; /* Removes the focus outline */
  box-shadow: none !important; /* Removes additional shadow, if any */
}

.swiper-button-next:focus,
.swiper-button-prev:focus {
  outline: none !important;
  box-shadow: none !important;
}
* {
  user-select: none; /* Prevents text selection */
  outline: none; /* Removes the blinking outline */
}
